<html>
<head>
 <title> Flat Design ChatBox </title>
 <link rel="stylesheet" type="text/css" href="sty.css">
 </head>
 <body>
     <div class="chatbox">
	    <div class="chatlogs">
	       <div  class="chat Mentee">
		      <div class="user-photo"><img src="../views/photos/40.jpg"></div>
	             <p class="chat-message">Hi I am a Mentee</p>
		   </div>
		    <div  class="chat Mentor">
		      <div class="user-photo" style="float:right; right:0; margin-left:80%;"><img src="../views/photos/39.jpg" /></div>
	             <p class="chat-message">Hi too I am a Mentor</p>

		     </div>
		</div>
		 <form method="POST" action="main.py">
		<div class="chat-form">
		<textarea name="chat"> </textarea>
		<button type="submit">Send</button>
	  </div>
		 </form>
		
 </body>
</html>

